.App {
  text-align: center;
  grid-template-columns: 3fr 1fr;
  display: grid;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.empls_sections{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.empls_name{
  font-weight: 600;
  color: blue;
}
.bday{
  border-left: 1px solid black;
}
.empls_header, .bday_header{
  font-weight: 600;
}
.bday_month{
  font-weight: 500;
}
label{
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
